<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/pokeShop">
        <img src="images/pokeshop.png" width="80" height="30" class="d-inline-block align-top" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active mr-4">
                <span style="color: #fafafa; font-size: 20px" class="navbar-text"><strong>Hello {{ trainer.name }} !</strong></span>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Bag">Bag</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Credits">Credits</a>
            </li>

        </ul>
        <span style="color: #fafafa; font-size: 20px" class="navbar-text">{{ trainer.credits }} $</span>
    </div>

</nav>