<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy Poke Dollars</title>
</head>
<body>
    <form>
        <div class="form-group">
            <label for="credit">Credits</label>
            <input type="credit" class="form-control" id="credit" aria-describedby="creditHelp" placeholder="Enter quantity">
            <small id="creditHelp" class="form-text text-muted">how many pokedollars do you want to buy.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>