<!DOCTYPE html>
<html lang="en">
{{> layout/header}}
<body>
{{> layout/toolbar}}
<div class="container pt-4">
    <form  action="/buyPokedollars" method="post">
        <div class="form-group">
            <label for="qte">Credits</label>
            <input type="number" class="form-control" id="qte" name="qte" aria-describedby="creditHelp" placeholder="Enter amount">
            <small id="creditHelp" class="form-text text-muted">enter an amount (1€ = 1000¤).</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>