<!doctype html>
<html lang="en">

{{> layout/header}}

<body>
{{> layout/toolbar}}

<div class="container pt-4">

        <div class="row col-md-25">
            <div class="card-deck">
                {{#items}}
                <div class="col-md-4">
                    <div class="card shadow-sm mb-3">
                        <img  src={{picture}} width="60" height="60"/>
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{name}}</h4>

                        </div>
                        <h5 class="my-0 font-weight-normal">{{description}}</h5>

                        <div class="card-body">
                            <h4><span class="badge badge-primary">Price : {{price}} ¤</span></h4>
                        </div>
                        <form action="/addItem/{idItem}" method="post">
                        <button type="button" class="btn btn-success">Buy</button>
                        </form>
                    </div>

                </div>
                {{/items}}
            </div>
        </div>

</div>

</body>
</html>